Dear ${consultant-name},

We have drafted a proposal for your advertiser ${advertiser-company-name} based on the information you provided on ${survey-fulfilled-date}. 

Attached is the pdf version of the proposal for your kind perusal. 
${survey-pdf-url} 

Thanks and Regards, 
PanPages Online.