@CHARSET "ISO-8859-1";

html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 768px){

}
.container {
  background-image: url("../images/bg-content.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 100px;
  margin-top: 220px;
    min-height: 768px;
}
#footer{
  height: 50px;
  background: rgb(212, 2, 29);
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
#footer p{
	color: white;
	text-align: center;
}
#content {
  width: 100%;
  padding: 30px;
  text-align: center;
}
#content p{
	  text-align: justify;
}
@media (max-width: 768px) {
	#content {
	  width: 100%;
	  padding: 5px;

	}
	#content img{
		width: 100%;
	}
	.container {
	    margin-top: 37px !important;
  		padding-top: 60px !important;
  		min-height: 500px;
	}
}
/*
#header {
background-image: url("../images/cloud.png");
  background-position: top left;
  background-repeat: no-repeat;
  height: 70px;
  position: relative;
  left: 193px;
  top: -75px;
  z-index: 9999;
}

#content {
  background-color: white;
  left: 195px;
  position: relative;
  width: 976px;
  height: 576px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 3px 2px 1px #A5A0A0;
  overflow: auto;
  padding: 50px 10px 20px 20px;
  text-align: center;
  z-index: 999;
    top: -80px;
}
a#start{
	background-color: #C12E2A;
	padding: 10px 20px;
	text-align: center;
}
.logo {
	background-image: url("../images/logo.png");
	background-position: top left;
	background-repeat: no-repeat;
	height: 70px;
	width: 275px;
	position: relative;
	left: 50px;
    top: 35px;
    z-index: 999;
}
.logo a{
	  height: 70px;
	  width: 250px;
	  display: block; 
}
#footer{
height: 50px;
  background: rgb(212, 2, 29);
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 1366px;
  text-align: center;
  padding-top: 15px;
}
#footer p{
	color: white;
}
#icon{
  background-image: url("../images/top-image.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 208px;
  height: 200px;
  position: relative;
  z-index: 999;
}
*/