@CHARSET "ISO-8859-1";

.row{
	margin: 0 !important;
}

.clear-shadow {
	clear: both;
}

.content {
    background: #fff;
	position: relative;
    width: 100%;
	/*height: 370px;*/
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content>div {
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px 40px;
	z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th,td {
    padding: 15px;
}

.geographical-covegare{
	background:url() repeat-x;	
}

h1 {
	font-size: 24px;
  	font-weight: bold;
  	color: #D4021D;
  	text-align: center;
  	padding: 0 15 30 15;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 768px){

}

.container {
  background-image: url("../images/bg-content.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  top: -145px;
  position: relative;
}

#footer{
  height: 50px;
  background: rgb(212, 2, 29);
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  margin-top: -20px;
}

#footer p{
	color: white;
	text-align: center;
}

#content {
  width: 100%;
  padding: 10px 50px 50px 10px;
  text-align: center;
  height:600px;
  overflow: auto;
}

#content p{
	  text-align: justify;
}

@media (max-width: 768px) {
	#content {
	  width: 100%;
	  padding: 5px;

	}
	#content img{
		width: 100%;
	}
	
	#main-content {
	    top: -45px !important;
		padding-top: 60px !important;
		padding-right: 0;
	}
}

#header img{
	  width: 100%;
}

#survey-name a{
  font-family: arial;
  font-size: 17px;
  color: rgb(44, 41, 41);
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

#form-sections {
	padding-top: 50px;
}

.tab-section {
	text-align: left;
}

#submit-div {
	float: right;
	padding: 15 5 15 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

#surveyForm {
	padding-top: 75px;
}

.ui-tabs-anchor {
	text-transform: uppercase;
}

.summary {
	font-weight: bold;
	padding: 25 0 5 0;
	text-decoration: underline;
}

#add-new {
	font-weight: bold;
}

p[id*="error"] {
    color:red 
}
